<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Money Manager</title>
</head>
<body class="background">
    <header>
        <section class="top_banner">
        <a href="/">Money Manager</a>
        </section>
    </header>
    <main class="home_page_grid">
        <section>
            {% block content %}
      
            {% endblock%}
        </section>
    </main>
</body>
</html>