{% extends 'base.html' %}

{% block content %}
<h1>Edit Transaction</h1>
  <section class="new_edit_page">
    <form action="/transaction/{{transaction.id}}" method="post">
      
        <div>
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount" value="{{transaction.amount}}" required>
        </div>
        <label for="merchant">Merchant:</label>
            <select id="merchant" name="merchant">
                {% for merchant in merchants %}
                <option value="{{ merchant.id }}">{{ merchant.name }}</option>
                {% endfor %}
            </select>
            <div>
              <label for="tag">Tag:</label>
                  <select id="tag" name="tag">
                      {% for tag in tags %}
                      <option value="{{ tag.id }}">{{ tag.category }}</option>
                      {% endfor %}
                  </select>
          </div>
          
          <button type="submit">Update Transaction</button>
      </form>
  </section>

{% endblock %}